@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

body {
    background: #D74D26;
    padding: 0;
    overflow: hidden;
}
* {
    font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
}
