@font-face {
    font-family: "gotham-light";
    src: url("../fonts/gothamlight.eot");
    src: url("../fonts/gothamlight.eot#iefix") format("embedded-opentype"),
    url("../fonts/gothamlight.woff") format("woff"),
    url("../fonts/gothamlight.ttf") format("truetype"),
    url("../fonts/gothamlight.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gotham-medium";
    src: url("../fonts/gotham-medium.eot");
    src: url("../fonts/gotham-medium.eot#iefix") format("embedded-opentype"),
    url("../fonts/gotham-medium.woff") format("woff"),
    url("../fonts/gotham-medium.ttf") format("truetype"),
    url("../fonts/gotham-medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gotham-book";
    src: url("../fonts/gotham-book.eot");
    src: url("../fonts/gotham-book.eot#iefix") format("embedded-opentype"),
    url("../fonts/gotham-book.woff") format("woff"),
    url("../fonts/gotham-book.ttf") format("truetype"),
    url("../fonts/gotham-book.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gotham-bold";
    src: url("../fonts/gotham-bold.eot");
    src: url("../fonts/gotham-bold.eot#iefix") format("embedded-opentype"),
    url("../fonts/gotham-bold.woff") format("woff"),
    url("../fonts/gotham-bold.ttf") format("truetype"),
    url("../fonts/gotham-bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fonts/gotham-xlight";
    src: url("../fonts/gotham-xlight.eot");
    src: url("../fonts/gotham-xlight.eot#iefix") format("embedded-opentype"),
    url("../fonts/gotham-xlight.woff") format("woff"),
    url("../fonts/gotham-xlight.ttf") format("truetype"),
    url("../fonts/gotham-xlight.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gotham-exlight";
    src: url("../fonts/gothamexlight.eot");
    src: url("../fonts/gothamexlight.eot#iefix") format("embedded-opentype"),
    url("../fonts/gothamexlight.woff") format("woff"),
    url("../fonts/gothamexlight.ttf") format("truetype"),
    url("../fonts/gothamexlight.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'gotham-exlight', arial, helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    /*background: #D74D26;*/
    background:#000;
    padding: 0;
    overflow: hidden;
    position: relative;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    top: 50%;
    font-family: gotham-light;
}
.scroll_down {
    position: absolute;
    z-index: 999;
    left: 10%;
    width: 200px;
    top: 10%;
    transform: translateX(-80px);
    z-index: 10;
}
