.home_wrapper {
  position: relative;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  //background
  #background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  #container {
    @include bp(max-width, $screen-md-max) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transform: scale(2, 2);
    }
  }
  // the lion area
  .scroll_down {
    position: fixed;
    z-index: 999;
    left: 10%;
    width: 200px;
    top: 10%;
    transform: translateX(-80px);
    z-index: 10;
  }

  // the heading(h1) area
  .heading_wrapper {
    display: none;
    position: fixed;
    height: 100px;
    width: 650px;
    top: 50%;
    left: 55%;
    transform: translateX(-50%);
    @include bp(max-width, $screen-md-max) {
      width: 60%;
    }
    @include bp(max-width, $screen-sm-max) {
      width: 90%;
    }
    h1 {
      text-transform: uppercase;
      letter-spacing: 15px;
      @include bp(max-width, $screen-md-max) {
        font-size: 40px;
      }
      @include bp(max-width, $screen-sm-max) {
        font-size: 20px;
      }
    }
    span {
      &.txt-big {
        position: relative;
        display: block;
        height: 90px;
        overflow: hidden;
        color: #fff;
        font-size: 80px;
        text-align: left;
        @include bp(max-width, $screen-md-max) {
          font-size: 40px;
          height: 40px;
        }
        .txt-left {
          font-style: normal;
          float: left;
          display: block;
        }
        .txt-right {
          display: none;
          position: absolute;
          font-style: normal;
          margin-left: 100px;
          @include bp(max-width, $screen-md-max) {
            margin-left: 30px;
          }
          @include bp(max-width, $screen-md-max) {
            margin-left: 10px;
            letter-spacing: 0;
          }
        }
      }
      &.txt-small {
        display: block;
        text-align: center;
        color: #a52a2a;
        font-size: 30px;
        @include bp(max-width, $screen-md-max) {
          font-size: 20px;
        }
        @include bp(max-width, $screen-sm-max) {
          font-size: 12px;
        }
        .txt-bold {
          color: #a52a2a;
          font-family: 'gotham-medium', arial, helvetica, sans-serif;
        }
      }
      &.txt {
        display: none;
        margin-left: 100px;
      }
    }

  }

  // the project detail area
  .prj_wrapper {
    position: fixed;
    top: 40%;
    left: 50%;
    padding: 0 10px;
    width: 960px;
    transform: translateX(-50%);
    @include bp(max-width, $screen-md-max) {
      width: 100%;
    }
    .prj {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      @include bp(max-width, $screen-md-max) {
        left: 20px;
      }
      .prj_name {
        overflow: hidden;
        h2 {
          position: relative;
          padding-left: 30px;
          margin: 0;
          color: #f6f4f1;
          font-size: 68px;
          text-transform: uppercase;
          @include bp(max-width, $screen-lg-max) {
            font-size: 48px;
          }
          @include bp(max-width, $screen-md-max) {
            font-size: 28px;
          }
          &:before {
            content: attr(data-order);
            position: absolute;
            top: 50%;
            left: 0;
            font-size: 12px;
            transform: translateY(-50%);
          }
        }
      }
      .prj_desc {
        overflow: hidden;
        padding-left: 30px;
        margin-top: 20px;
        font-size: 14px;
        text-transform: uppercase;
        p {
          padding-bottom: 10px;
          color: #514032;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            right: 0;
            left: 0;
            width: 190px;
            height: 1px;
            background: #514032;
          }
        }
      }
      .prj_detail {
        overflow: hidden;
        margin: 30px 0 0 20px;
        a {
          color: #fff;
        }
        .btn-more {
          border-color: #696576;
        }
      }
    }
  }

  .btn-wrapper {
    position: fixed;
    bottom: 10%;
    height: 30px;
    left: 0;
    right: 0;
    text-align: center;
    button {
      display: none;
      border: 0;
      outline: 0;
      background: url(../images/btn.gif) no-repeat;
      background-size: 22px 38px;
      height: 38px;
      width: 22px;
    }
    .txt-wrapper {
      overflow: hidden;
      height: 50px;
      padding: 20px 0;
      p {
        display: none;
        margin: 0;
        @include bp(max-width, $screen-md-max) {
          font-size: 12px;
        }
      }
    }
  }

  // the nav area
  .nav {
    display: none;
    position: fixed;
    bottom: 0;
    height: 50px;
    border-top: 1px solid #fff;
    left: 0;
    right: 0;
    z-index: 10;
    .a-left {
      #logo {
        display: inline-block;
        float: left;
        position: relative;
        width: 60px;
        cursor: pointer;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 1px;
          background: #fff;
          transform: skew(-10deg) rotate(2deg);
        }
      }
      .slogan {
        display: inline-block;
        float: left;
        p {
          font-family: 'gotham-medium', arial, helvetica, sans-serif;
          margin: 2px 15px;
          text-transform: uppercase;
          color: #fff;
        }
        .txt-big {
          font-size: 22px;
        }
        .txt-small {
          font-size: 10px;
        }
      }
    }
    .a-center {
      display: block;
      width: 500px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include bp(max-width, $screen-md-max) {
        bottom: 80px;
        position: fixed;
      }
      .slide-cpl {
        @include bp(max-width, $screen-md-max) {
          text-align: center;
        }
      }
      i {
        cursor: pointer;
        color: #fff;
        margin: 15px 20px;
        @include bp(max-width, $screen-md-max) {
          margin: 15px 10px;
        }
        &.slide {
          color: rgba(255, 255, 255, 0.5);
          transition: all 0.5s ease;
          &.active {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
    .a-right {
      .social-link {
        margin: 0;
        li {
          position: relative;
          display: inline-block;
          padding: 20px 0;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            background: #fff;
            -webkit-transform: skew(-10deg) rotate(2deg);
            -ms-transform: skew(-10deg) rotate(2deg);
            transform: skew(-10deg) rotate(2deg);
          }
          a {
            padding: 20px;
            i {
              color: #fff;
            }
          }
        }
      }

    }
  }
  .main-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: 0;
    background: #404040;
    text-align: center;
    ul {
      list-style-type: none;
    }
    li {
      list-style-type: none;
      font-size: 100px;
      text-transform: uppercase;
      text-align: center;
      @include bp(max-width, $screen-lg1-max) {
        font-size: 70px;
      }
      .bg-left {
        float: left;
        width: 50%;
        height: 100%;
      }
      .bg-right {
        float: right;
        width: 50%;
        height: 100%;
        background-size: 80%;
      }
      .item-cresus {
        &:hover {
          display: none;
          .bg-left, .bg-right {
            display: block;
            background-size: 80%;
          }
        }
      }
      #cresus-nav-bg {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.2;
        .bg-left {
          background: url(../images/menu-bg/cresus-reflect.svg) no-repeat;
          background-position-x: -300%;
        }
        .bg-right {
          background: url(../images/menu-bg/cresus.svg) no-repeat;
          background-position-x: 400%;
        }
      }
      #durance-nav-bg {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.2;
        .bg-left {
          background: url(../images/menu-bg/durance-reflect.svg) no-repeat;
          background-position-x: -400px;
        }
        .bg-right {
          background: url(../images/menu-bg/durance.svg) no-repeat;
          background-position-x: 500px;
        }
      }
      #bys-nav-bg {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.2;
        .bg-left {
          background: url(../images/menu-bg/bys-reflect.svg) no-repeat;
          background-position-x: -400px;
        }
        .bg-right {
          background: url(../images/menu-bg/bys.svg) no-repeat;
          background-position-x: 500px;
        }
      }
      #club75-nav-bg {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.2;
        .bg-left {
          background: url(../images/menu-bg/club75-reflect.svg) no-repeat;
          background-position-x: -400px;
          background-size: 90%;
          background-position-y: 50%;
        }
        .bg-right {
          background: url(../images/menu-bg/club75.svg) no-repeat;
          background-position-x: 500px;
          background-size: 90%;
          background-position-y: 50%;
        }
      }
      #renaunt-nav-bg {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.2;
        .bg-left {
          background: url(../images/menu-bg/renault-reflect.svg) no-repeat;
          background-position-x: -400px;
          background-size: 90%;
          background-position-y: 50%;
        }
        .bg-right {
          background: url(../images/menu-bg/renault.svg) no-repeat;
          background-position-x: 500px;
          background-size: 90%;
          background-position-y: 50%;
        }
      }
      a {
        position: relative;
        display: inline-block;
        padding: 20px 0;
        text-decoration: none;
        color: #fff;
        @include bp(max-width, $screen-lg1-max) {
          padding: 10px 0;
        }
        &:before {
          content: "";
          position: absolute;
          height: 10px;
          background: #fff;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 100%;
          transition: all 0.5s ease;

        }
        &:hover {
          &:before {
            right: 0;
          }
          span {
            &:before {
              text-decoration: line-through;
            }
          }
        }
        span {
          position: relative;
          display: inline-block;
          &:before {
            position: absolute;
            content: attr(data-order);
            top: 50%;
            height: 10px;
            transform: translateY(-50%);
            left: -20px;
            font-size: 10px;
          }

        }

      }
    }
  }
}



