@font-face {
  font-family: "gotham-light";
  src: url("../fonts/gothamlight.eot");
  src: url("../fonts/gothamlight.eot#iefix") format("embedded-opentype"),
  url("../fonts/gothamlight.woff") format("woff"),
  url("../fonts/gothamlight.ttf") format("truetype"),
  url("../fonts/gothamlight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/gotham-medium.eot");
  src: url("../fonts/gotham-medium.eot#iefix") format("embedded-opentype"),
  url("../fonts/gotham-medium.woff") format("woff"),
  url("../fonts/gotham-medium.ttf") format("truetype"),
  url("../fonts/gotham-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book.eot");
  src: url("../fonts/gotham-book.eot#iefix") format("embedded-opentype"),
  url("../fonts/gotham-book.woff") format("woff"),
  url("../fonts/gotham-book.ttf") format("truetype"),
  url("../fonts/gotham-book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/gotham-bold.eot");
  src: url("../fonts/gotham-bold.eot#iefix") format("embedded-opentype"),
  url("../fonts/gotham-bold.woff") format("woff"),
  url("../fonts/gotham-bold.ttf") format("truetype"),
  url("../fonts/gotham-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fonts/gotham-xlight";
  src: url("../fonts/gotham-xlight.eot");
  src: url("../fonts/gotham-xlight.eot#iefix") format("embedded-opentype"),
  url("../fonts/gotham-xlight.woff") format("woff"),
  url("../fonts/gotham-xlight.ttf") format("truetype"),
  url("../fonts/gotham-xlight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gotham-exlight";
  src: url("../fonts/gothamexlight.eot");
  src: url("../fonts/gothamexlight.eot#iefix") format("embedded-opentype"),
  url("../fonts/gothamexlight.woff") format("woff"),
  url("../fonts/gothamexlight.ttf") format("truetype"),
  url("../fonts/gothamexlight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'gotham-exlight', arial, helvetica, sans-serif;
  box-sizing: border-box;
  font-weight: 100;
}

body {
  background: #000;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.btn {
  background: transparent;
  border: 1px solid #fff;
  outline: 0;
  padding: 10px 35px;
}

.align {
  display: inline-block;
}

.a-left {
  float: left;
}

.a-right {
  float: right;
}

.main-menu {
  @keyframes fadeInLeft {
    from {

      background-size: 88%;
    }

    to {

      background-size: 90%;
    }
  }

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  @keyframes fadeInRight {
    from {

      background-size: 88%;
    }

    to {

      background-size: 90%;
    }
  }

  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

@keyframes menu-acitve {
  from {
    background-position: -9px -11px;
    width: 31px;
    height: 28px;
  }
  .5% {
    background-position: -6px -61px;
    width: 34px;
    height: 26px;
  }
  1% {
    background-position: -7px -111px;
    width: 34px;
    height: 26px;
  }
  to {
    background-position: -12px -162px;
    width: 24px;
    height: 25px;
  }
}

.menu-active {
  animation-name: menu-acitve;
}

//
//#logo {
//  width: 60px;
//  height: 50px;
//  background: url(../images/sprites.png) no-repeat;
//
//}